@mixin TitleDesign($fsMobile, $fsTablet, $fsDesktop, $text: false) {
  @if $text {
    @apply font-body;
  } @else {
    @apply font-title;
  }

  font-size: $fsMobile;
  line-height: 1.2em;

  @media screen and (min-width: 768px) {
    font-size: $fsTablet;
  }

  @media screen and (min-width: 1280px) {
    font-size: $fsDesktop;
  }
}

@mixin btnDesign($type) {
  $transition-duration: 750ms;
  $transition-delay: 750ms;

  @if $type == "secondary" {
    @apply py-3 px-0 uppercase relative z-10;

    &::after {
      content: "";
      @apply absolute left-0 bg-black w-[25%] h-[2px] -z-10;
      bottom: -2px;
      transition:
        width $transition-duration ease $transition-delay,
        height $transition-duration ease $transition-delay,
        background-color $transition-duration ease $transition-delay;
    }

    &:hover {
      @apply no-underline;
    }

    @media screen and (min-width: 1280px) {
      &:hover {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        transition:
          padding-left $transition-duration ease,
          padding-right $transition-duration ease;

        &::after {
          @apply w-full h-full bg-secondary;
          transition:
            width $transition-duration ease,
            height $transition-duration ease $transition-delay,
            background-color $transition-duration ease $transition-delay;
        }
      }

      // État : retour à l'état normal (quand le curseur sort)
      &:not(:hover) {
        transition:
          padding-left $transition-duration ease $transition-delay,
          padding-right $transition-duration ease $transition-delay;

        &::after {
          @apply w-[25%] h-[2px] bg-black;
          transition:
            height $transition-duration ease,
            background-color $transition-duration ease,
            width $transition-duration ease $transition-delay;
        }
      }
    }
  }
}

@mixin gridBlock() {
  @include secondaryBg();

  @apply lg:grid 
        lg:grid-cols-12
        lg:gap-4 
        lg:px-[5.787vw] 
        lg:py-[8.681vw]
        xl:px-[6.94vw]
        xl:gap-6;

  &__content {
    @apply p-[2rem] lg:p-0 lg:py-[5.787vw] lg:col-span-5;
  }

  &__title {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  &__text,
  &__sub-content,
  &__btn-list,
  &__list-items {
    @apply mt-[1.875rem];
  }

  &__btn-list {
    @apply flex flex-col items-start gap-2;
  }

  &__list-items {
    @apply flex flex-col gap-1 md:grid md:grid-cols-2 md:gap-3;
  }

  &__btn {
    @include btnDesign("secondary");

    &__label {
      @include TitleDesign(16px, 16px, 16px, true);
      font-weight: 500;
    }
  }

  &__accordion {
    @apply mt-[3rem];

    &__title {
      @apply bg-[#B8A373] py-[1rem] px-[2rem];
      @extend .text-base;
    }

    &__content {
      @apply px-[1rem] pt-[1rem] pb-0;
    }
  }

  .list-bullet {
    @apply list-disc pl-[2.5rem] mb-[1.5rem] leading-[2];
  }
}

@mixin secondaryBg() {
  &--sec-color {
    @apply bg-[#FAF8F3];
  }
}

@mixin LabelAnim() {
  label {
    @apply -top-[10px] text-xs;
  }

  input {
    &[type="date"]::-webkit-datetime-edit {
      color: black;
    }
  }
}

@mixin FooterLinkAnim() {
  @media screen and (min-width: 1280px) {
    @apply duration-1000;

    &:hover {
      @apply opacity-50;
    }
  }
}
