@mixin TitleDesign($fsMobile, $fsTablet, $fsDesktop, $text: false) {
  @if $text {
    @apply font-body;
  } @else {
    @apply font-title;
  }
    
  font-size: $fsMobile;
  line-height: 1.2em;

  @media screen and (min-width: 768px) {
    font-size: $fsTablet;
  }

  @media screen and (min-width: 1280px) {
    font-size: $fsDesktop;
  }
}

@mixin gridBlock() {
  @include secondaryBg();

  @apply lg:grid 
        lg:grid-cols-12
        lg:gap-4 
        lg:px-[5.787vw] 
        lg:py-[8.681vw]
        xl:px-[6.94vw]
        xl:gap-6;

  &__content {
    @apply p-[2rem] 
            lg:p-0 
            lg:py-[5.787vw]
            lg:col-span-5;
  }

  &__title {
    @apply text-2xl 
            md:text-3xl 
            lg:text-4xl;
  }

  &__text {
    @apply mt-[1.875rem];
  }

  &__sub-content {
    @apply mt-[1.875rem];
  }

  &__list-items {
    @apply mt-[1.875rem]
            flex
            flex-col
            gap-1
            lg:flex-row
            lg:flex-wrap
            lg:justify-between
            lg:gap-3;
  }

  &__list-item {
    @apply lg:w-[49%];
  }

  .list-bullet {
    @apply list-disc pl-[2.5rem] mb-[1.5rem] leading-[2];
  }
}

@mixin secondaryBg() {
  &--sec-color {
    @apply bg-[#FAF8F3];
  }
}

@mixin LabelAnim() {
  label {
    @apply -top-[10px] text-xs;
  }

  input {
    &[type="date"]::-webkit-datetime-edit {
      color: black;
    }
  }
}
