@mixin gridBlock() {
  @include secondaryBg();

  @apply lg:grid 
        lg:grid-cols-12
        lg:gap-4 
        lg:px-[5.787vw] 
        lg:py-[8.681vw];

  &__content {
    @apply p-[2rem] 
            lg:p-0 
            lg:py-[5.787vw]
            lg:col-span-5;
  }

  &__title {
    @apply text-2xl 
            md:text-3xl 
            lg:text-4xl;
  }

  &__text {
    @apply mt-[1.875rem];
  }

  &__sub-content {
    @apply mt-[1.875rem];
  }

  &__list-items {
    @apply mt-[1.875rem]
            flex
            flex-col
            gap-1
            lg:flex-row
            lg:flex-wrap
            lg:justify-between
            lg:gap-3;
  }

  &__list-item {
    @apply lg:w-[49%];
  }
}

@mixin secondaryBg() {
  &--sec-color {
    @apply bg-[#FAF8F3];
  }
}
