.nav {
  @apply fixed w-full bg-primary z-[9999] grid grid-rows-4 overflow-y-scroll duration-500 lg:overflow-y-hidden;
  top: $header-ht--m;

  @media screen and (max-width: 640px) {
    bottom: $mobile-bar-ht;
  }

  @media screen and (min-width: 641px) {
    bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    top: $header-ht--d;
  }

  &--open {
    opacity: 1;
    transform: translateX(0%);
  }

  &--close {
    opacity: 0;
    transform: translateX(-100%);
  }

  &__primary {
    @apply row-span-4;

    &__list {
      @apply h-full grid lg:grid-cols-[repeat(auto-fit,minmax(200px,1fr))];
    }

    &__item {
      @apply relative overflow-hidden lg:row-span-full xl:text-3xl;
      @extend .title3;

      @media screen and (min-width: 1280px) {
        &:hover {
          .nav__primary__image {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    &__link {
      @apply z-20 absolute inset-0 flex justify-center items-center text-white bg-[rgba(0,0,0,0.7)];
    }

    &__image {
      img {
        @apply duration-1000;
      }
    }
  }

  &__secondary {
    &__list {
      @apply flex flex-col divide-y divide-white text-white lg:grid lg:divide-x lg:divide-y-0 lg:grid-cols-[repeat(auto-fit,minmax(200px,1fr))];

      @media screen and (min-width: 1024px) {
        height: $header-ht--d;
      }
    }

    &__item {
      @apply py-[1rem] px-[2rem] lg:row-span-full lg:text-center lg:px-0 xl:relative;
    }

    &__link {
      @apply lg:h-full lg:flex lg:justify-center lg:items-center xl:absolute xl:inset-0 xl:hover:bg-black/50 xl:duration-1000;
    }

    &__social-list {
      @apply flex gap-x-[3rem] lg:justify-center lg:items-center lg:h-full lg:col-span-1;
    }
  }

  &__footer {
    &__list {
      @apply grid gap-[.5rem] lg:grid-cols-2;
    }

    &__link {
      @include FooterLinkAnim();
    }
  }
}
